.navbar-fixed-top {
    position: absolute;
    z-index: 1030;
}

.appko-img-feature .appko-each-inner {
    padding-top: 10px;
}

.facade{
    background-image: url("../images/Facility-mang.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    color: black !important;
}

.navbar-brand img {
    margin-top: 25px;
}


.list-group-item-info {
    color: 
white;
background-color:
    #4C72F9;
    font-size: larger;
}

@media screen and (min-width: 1200px) {
  .navbar-fixed-top  .container {
        width: 1350px;
    }
}


@media only screen and (max-width: 767px) {
    .navbar-brand img {
        display: none;
    }
}