 .cd-product-content {
    border-radius: 4px;
    box-shadow: 0 1px 14px #999;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 1050px;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.carousel-item{
 height: 500px;
}

.carousel-item .col-4 {
height: 100%;
}
.carousel-item .row{
    height: 100%
}

.carousel-inner {
    height: 100%;
} 

.fleetmgr_bg {
    background: url("https://media.gettyimages.com/photos/black-man-standing-in-front-of-semitrucks-picture-id856730386?s=2048x2048") no-repeat center center;
    background-size: cover;
    height: 430px;
}

.fleetmgr_bg_2{
    background: url("https://miro.medium.com/max/3200/1*GZ1KWwuOYz_zxnPa_apf9Q.png") no-repeat center center;
    background-size: cover;
    height: 430px;  
}


.fleetmgr_bg_3{
    background: url("../images/phone.jpg") no-repeat center center;
    background-size: cover;
    height: 430px;  
}